/* Container Principal */
.form_control {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 1rem;
  text-align: left;
  position: relative;
}

/* Estilops dos Inputs */
.form_control input,
.form_control select {
  max-width: 300px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  background: rgba(250, 250, 250, 0);
  font-size: 0.9rem;
}

.form_control input {
  padding: 15px;
}

.form_control select {
  padding: 0 7px;
}

/* Logo de sucess ou warning */
.form_control svg {
  position: absolute;
  right: -25px;
  top: 40px;
}
/* Sucess icon */
.form_control .success_icon {
  color: #4caf50;
}
/* Error icon */
.form_control .error_icon {
  color: #f44336;
}

/* Input colors icon */
input.success,
select.success {
  border: 1px solid #4caf50;
}
input.error,
select.error {
  border: 1px solid #f44336;
}

/* Label error */
.label_error {
  color: #f44336;
  font-size: 0.8rem;
}
