.progress_bar_container {
  position: relative;
  margin: 1.5rem;
}

.progress_bar_container::after {
  content: "";
  width: 600px;
  border-bottom: 5px solid #ccc;
  position: absolute;
  border-radius: 45px;
  top: 15px;
  z-index: 1;
}

.progress_bar {
  width: 400px;
  background-color: #7076f4;
  height: 5px;
  border-radius: 45px;
  position: absolute;
  top: 15px;
  z-index: 2;
}

.steps {
  display: flex;
  gap: 1.5rem;
}

.step_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  z-index: 3;
}

.step_content svg {
  font-size: 1.5rem;
}

.step_content.active svg {
  fill: #7076f4;
}

.active p {
  color: #7076f4;
}
